/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#hero {
    background-image: url("images/torshov.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 343px;
    justify-content: center;
}

#hero h1 {
    color: white;
    background-color: #1d3557;
    font-size: 32px;
    padding: 5px 12px;
}

#hero h2 {
    color: white;
    background-color: #457b9d;
    margin-top: 16px;
    padding: 8px 28px;
    width: 355px;
    font-size: 19px;
}

#hero h1,
#hero h2 {
    border-radius: 10px;
    font-weight: 700;
}

#activities {
    height: 378px;
    background-color: #f1faee;
    justify-content: start;
}

#activities > h3 {
    font-size: 24px;
    font-weight: 700;
    color: #1d3557;
    margin-top: 39px;
}

#activities-group {
    margin-top: 54px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#activities-group .activity {
    width: 200px;
    height: 227px;
}

#activities-group .activity img {
    border-radius: 100%;
    width: 100px;
}

#activities-group .activity h3 {
    margin-top: 23px;
    font-size: 16px;
    font-weight: 700;
    color: #1d3557;
}

#activities-group .activity p {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #1d3557;
}

#guide {
    background-color: #ffffff;
    height: 394px;
}

.container {
    margin-top: 50px;
    display: flex;
    background-color: #a8dadc;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    color: #1d3557;
    box-shadow: 0 5px 0 black;
}

.container img {
    width: 180px;
    height: 250px;
    margin: 23px 7px 23px 14px;
    border-radius: 10px;
}

.container div {
    display: flex;
    flex-direction: column;
}

.container div h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
}

.container div p {
    margin-top: 14px;
    margin-right: 11px;
    font-size: 16px;
    font-style: italic;
    width: 190px;
}

.container div h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 26px;
}

#hero,
#activities,
#guide {
    display: flex;
    flex-direction: column;
    align-items: center;
}
