body, html {
    margin: 0;
    padding: 0;
    
  }
  
  p {
    line-height: 1.5em;
  } 
  
  .post {
    background: lightgray;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 10px;
  }
  
  span {
    background: black;
    transition: background 1s;
  }
  
  span:hover {
    background: lightgrey;
    cursor: pointer;
  }