.square {
    width: 20px;
    height: 20px;
    box-sizing: border-box;

    border: 1px solid black;
}

.number {
    width: 20px;
    height: 20px;
    margin: 0;
    text-align: center;
}

.vertical {
    width: 20px;
    display: inline-block;
    margin-top: 20px;
}

.months {
    width: 260px;
    display: inline-block;
}

.bad {
    background-color: red;
}

.average {
    background-color: yellow;
}

.good {
    background-color: green;
}

.month {
    display: inline-block;
}

.container {
    display: flex;
}
