* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#btn-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.btn {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.primary {
    background-color: #007bff;
}

.danger {
    background-color: #dc3545;
}

#timer {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}

.btn:active {
    transform: scale(0.95);
}

#log-area {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    background: #f8f9fa;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
