* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.875em;
}

.container {
    display: flex;
}

/* Left side */

.category {
    font-size: 0.75rem;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 300px;
    margin-top: 1em;
}

a {
    text-decoration: none;
    color: #565959;
}

/* Right side */

.right {
    margin-left: 2em;
    margin-top: 0.5em;
}

.title {
    font-weight: lighter;
}

.author {
    margin: 0.6em 0;
}

.author-name {
    color: #007185;
}

.ratings {
    width: 120px;
    display: block;
}

.important-text {
    font-weight: bold;
    margin-top: 0.6em;
}

.text {
    margin-top: 0.8em;
}
